[submodule "third_party/undoCore"]
	path = third_party/undoCore
	url = https://github.com/undoRT/undoCore
[submodule "tests/test_task/third_party/undoCore"]
	path = tests/test_task/third_party/undoCore
	url = https://github.com/undoRT/undoCore.git
